<%- include('./partials/header') %>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
    <!-- <a href="/skills">Here is a link to my skills learned so far in this course.</a> -->
    <%- include('./partials/footer') %>
